.navbar-brand {
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
}

.bg-light {
    background-color: #dadbdc !important;
}

.nav-link.active {
    background-color: #919192 !important;
    color: white !important;
}

.nav-link {
    color: #919192 !important;
}

a:hover {
    color: #5a5a5a !important;
}
.dropdown-item:hover{
    background-color: #919192;
}
.dropdown-item:active{
    background-color: #5a5a5a;
    color: white !important;
}
.content::-webkit-scrollbar {
display: none;
}
.far.fa-heart{
font-size: 25px;
}